#header This is the Header
#wrapper
  #when-where
    #when When?
    #where Where?
  #rsvp This is where the user will rsvp
  #what-who
    .what What?
    #who Who?
    .what Another What?
    .what A Third What?
#footer This the the Footer